@font-face {
  font-family: Lato;
  src: url(Lato-400.ttf);
  font-weight: 400;
}
@font-face {
  font-family: Lato;
  src: url(Lato-500.ttf);
  font-weight: 500;
}
@font-face {
  font-family: Lato;
  src: url(Lato-600.ttf);
  font-weight: 600;
}
@font-face {
  font-family: Lato;
  src: url(Lato-700.ttf);
  font-weight: 700;
}
