.discuss-category {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;

  margin: 0 -18px;
  padding: 0 18px;

  & > .usage-count {
    font-weight: 600;
    color: var(--grey-text-color);
  }
  &:hover > .usage-count {
    color: var(--secondary-hover-color);
  }
  &:active > .usage-count {
    color: var(--secondary-active-color);
  }
}
