.discuss-category {
  background-color: var(--secondary-hover-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  font-family: Lato;
  font-size: 12px;
  .usage-count {
    font-weight: 600;
    color: #9a9a9a;
  }
}
