.menu-bar {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: var(--menu-width);
  padding-top: 9px;
  & > button.publish {
    display: flex;
    border-radius: 8px;
    min-width: 96px;
    width: 100%;
    padding: 16px 26px;
    gap: 14px;

    font-weight: 500;
    letter-spacing: 0.5px;
    align-items: baseline;

    color: var(--secondary-color);
    background-color: var(--primary-color);
    &:hover {
      background-color: var(--primary-hover-color);
    }
    &:active {
      background-color: var(--primary-active-color);
    }
  }

  &[aria-disabled='true'] {
    transition-timing-function: ease-in;
    pointer-events: none;
    translate: -200px 0;
    opacity: 0;
  }
}

.menu-bar-mobile {
  position: fixed;
  inset: auto 0 0 0;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 60px;
  padding: 18px 21px;
  background-color: #fafbfc;
  z-index: 3;
  & > a {
    --scale: 1.5; // 24px -> 36px
    scale: var(--scale);
    border-radius: 50%;

    &.is-active > svg {
      stroke: var(--primary-color);
    }

    & > * {
      scale: calc(1 / var(--scale));
      &.unread-messages:not(#\9) {
        top: calc(-7px / var(--scale));
        right: calc(-8px / var(--scale));
      }
    }

    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }
}
