.news-feed {
  margin-top: 24px;
  &__filter {
    width: 362px;
    height: 43px;
    display: flex;
    gap: 32px;

    > button {
      font-weight: 600;
      font-size: 18px;
      color: var(--light-text-color);
      &:hover {
        color: var(--text-color);
      }
      &.active {
        color: var(--text-color);
        position: relative;
        &::before {
          content: '';
          position: absolute;
          bottom: 3px;
          width: 50%;
          height: 3px;
          background-color: var(--primary-color);
          border-radius: 32px;
        }
      }
    }
  }

  &__posts {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    border: #f2f2f2 solid 1px;
    border-radius: 12px;

    .post {
      &__category {
        display: flex;
        align-items: center;
        gap: 10px;
        margin: 24px 0 12px 24px;

        font-family: Lato;
        font-size: 14px;
        font-weight: 700;
        color: var(--text-color);
        &__link {
          display: flex;
          background-color: rgba(174, 162, 255, 0.3);
          width: 20px;
          height: 20px;
          border-radius: 4px;
          justify-content: center;
          align-items: center;
        }

        // &__image {
        // }
      }
      h3 {
        margin-left: 24px;
        font-size: 24px;
        line-height: 32px;
        font-weight: 700;
        color: var(--text-color);
      }
      p {
        font-family: Lato;
        line-height: 24px;
        font-size: 14px;
      }
    }
  }
}
