.content {
  padding-top: 4px;
  min-width: 0;
  margin-bottom: 78px;

  h3,
  samp {
    font-weight: 700;
    color: var(--text-color);
  }
  h3 {
    font-size: 18px;
  }
  samp {
    font-size: 12px;
    font-family: Lato;
  }

  .stories {
    &__header {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      margin-bottom: 17px;
      button {
        display: flex;
        align-items: flex-end;
        gap: 2px;
        & > svg {
          fill: var(--primary-color);
          height: 14px;
          width: 14px;
        }
        &:hover samp {
          translate: -4px 0;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .content {
    padding-top: 18px;

    h3 {
      font-size: 24px;
      margin-bottom: 14px;
      svg {
        height: 24px;
        width: 24px;
        &[alt='arrow-right'] {
          fill: var(--primary-color);
          transform: rotate(90deg) translate(6px, -1px);
        }
      }
    }
    h3:not(:has(svg[alt='arrow-right'])) {
      display: flex;
      align-items: center;
      gap: 12px;
    }
  }
}
