.carousel {
  user-select: none;
  position: relative;
  height: fit-content;
  --card-border-color: var(--primary-color);
  --ellipse-border-color: var(--primary-color);
  & > .container {
    width: 598px;
    height: 190.55px;
    display: flex;
    width: inherit;
    gap: 8.71px;

    overflow-x: scroll;
    &::-webkit-scrollbar {
      height: 0px;
    }

    .card {
      position: relative;
      border: 2px solid var(--card-border-color);
      border-radius: 8px;
      height: 100%;
      width: 111.24px;
      padding: 2px;
      &__gradient {
        position: absolute;
        inset: 2px;
        border-radius: inherit;
        background: linear-gradient(to bottom, transparent 50%, black 100%);
        opacity: 0.8;
      }
      &__background {
        inset: 2px;
        position: absolute;
        border-radius: inherit;
      }
      &__overlay {
        display: flex;
        justify-content: center;
        position: absolute;
        left: 50%;
        bottom: 86.08px;
        width: 0;
        & > img[alt='avatar'] {
          --size: 52px;
          --border-width: 2px;
          width: calc(var(--size) - var(--border-width) * 2);
          height: calc(var(--size) - var(--border-width) * 2);

          position: absolute;
          top: 4.5px;
          border: 3.5px inset #0000;
          outline: 2px solid var(--ellipse-border-color);

          border-radius: 50%;
        }
        span {
          position: absolute;
          top: 56.37px;
          color: white;
          font-weight: 600;
          font-size: 13px;
        }
      }

      // & > img[alt='avatar'] {
      //   position: absolute;
      //   top: 5.48px;
      //   border-radius: 50%;
      // }
      // &__ellipse {
      //   position: absolute;
      //   stroke: var(--ellipse-border-color);
      // }
      &--viewed {
        --card-border-color: var(--secondary-color);
        --ellipse-border-color: #c0c0c0;
      }
    }

    &[data-scroll-at='start'] ~ .prev,
    &[data-scroll-at='end'] ~ .next {
      opacity: 0;
    }
  }

  & > button {
    --carousel-btn-size: 48px;
    position: absolute;
    height: var(--carousel-btn-size);
    width: var(--carousel-btn-size);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: white;
    top: calc(50% - var(--carousel-btn-size) / 2);
    svg {
      width: 24px;
      height: 24px;
    }
    &.prev {
      box-shadow: -2px 0px 12px 2px #00000012;
      left: calc(var(--carousel-btn-size) / -2 + 4px);
      svg {
        margin-right: 4px;
      }
    }
    &.next {
      box-shadow: 2px 0px 12px 2px #00000012;
      right: calc(var(--carousel-btn-size) / -2 - 2px);
      rotate: 180deg;
    }
    &:hover {
      background-color: var(--secondary-hover-color);
    }
    &:active {
      background-color: var(--secondary-active-color);
    }
  }
}

@media (max-width: 768px) {
  div.carousel > div.container:not(#\9) {
    margin-top: 10px;
    height: 74.13px;
    gap: 17.77px;
    & > .card {
      width: 52px;
      border: 1px solid #0000;
      & > .card__overlay {
        inset: -4px 0 0 0;
        width: 100%;
        & > span {
          color: var(--text-color);
        }
      }
    }
  }
}
