.menu-bar {
  .sections {
    display: flex;
    flex-direction: column;
    gap: 4px;

    .section {
      width: 100%;
      padding: 16px 18px;
      font-weight: 600;

      display: flex;
      align-items: center;
      gap: 18px;
      border-radius: 8px;
      min-width: 96px;
      color: var(--text-color);

      &.is-active {
        background-color: var(--secondary-hover-color);
        cursor: default;
      }
      &:not(.secondary-button--active):hover {
        background-color: var(--secondary-hover-color);
      }
      &:active {
        background-color: var(--secondary-active-color);
      }
    }
  }

  &-mobile {
    & > .section {
      width: 24px;
      height: 24px;
    }
    & > .messages {
      & > .unread-messages {
        top: -7px;
        right: -8px;
      }
    }
  }
}
